@font-face {
    font-family: 'Goyang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: "Goyang", sans-serif;
}
.w3-bar-block .w3-bar-item {padding:20px}

body, .w3-center, .w3-button{
    background-color: #F2D9BB;
    color: #261303;
}



.detail-content-text{
    font-size: 1.25rem;

}
.detail-form-title{
    font-weight: 700;
}

.form {
    display: table;
    margin-left: 38%;
}

div.form-context {
    display: table-row;
    vertical-align: middle;

}

label, input {
    display: table-cell;
    margin-bottom: 10px;
    vertical-align: top;
}

label {
    padding-right: 10px;
}

.form-context-textarea{
    resize: none;
    height: 12rem;
    width: 10rem;
}

.submit-btn{
    width: 100%;
    background-color: #A6774E;
    color: #fff;
}